body {
  font-family: Arial, sans-serif; /* نوع الخط */
  background-color: #121212; /* لون الخلفية */
  color: #e0e0e0; /* لون النص */
  margin: 0;
  padding: 0;
  background-image: url('background.jpg'); /* إضافة خلفية معبرة */
  background-size: cover; /* تغطية الخلفية بالكامل */
  background-position: center; /* تمركز الخلفية في المنتصف */
  transition: background-image 1s ease-out; /* إضافة تأثير الانتقال */
}

body.no-background {
  background-image: none; /* إزالة الخلفية */
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
  opacity: 1;
  transition: opacity 1s ease-out, visibility 1s ease-out;
}

.welcome-container.hidden {
  opacity: 0;
  visibility: hidden; /* إخفاء العنصر بعد انتهاء الانتقال */
}

.welcome-text {
  font-size: 50px;
  color: #bb86fc;
  animation: slideIn 1s ease-out;
  position: fixed;
  top: 40%; /* تعديل الموضع ليكون مريحًا للعين */
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slideIn {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 40%;
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    top: 50%;
  }
  to {
    top: 30%;
  }
}

@keyframes shrinkAndMove {
  from {
    font-size: 50px;
    top: 50%;
  }
  to {
    font-size: 25px;
    top: 10px;
  }
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.form-container.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 1s ease-out forwards;
}

.form-container.hidden {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.form-container h1 {
  color: #bb86fc;
}

.form-container input {
  display: block;
  width: 80%; /* تعديل العرض */
  padding: 10px;
  margin: 10px auto; /* تعديل التباعد */
  background-color: #333;
  color: #e0e0e0;
  border: none;
  border-radius: 4px;
  text-align: center;
}

.form-container button {
  display: block;
  width: 50%; /* تعديل العرض */
  padding: 10px;
  margin: 20px auto; /* تعديل التباعد */
  background-color: #03dac6;
  color: #121212;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #02c7b5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.container {
  max-width: 600px; /* أقصى عرض للحاوية */
  margin: 50px auto; /* تباعد الحاوية من الأعلى والأسفل */
  padding: 20px; /* تباعد داخلي للحاوية */
  background-color: #1e1e1e; /* لون خلفية الحاوية */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* ظل الحاوية */
  border-radius: 8px; /* حواف دائرية للحاوية */
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 1s ease-out forwards;
}

.container.hidden {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

h1 {
  text-align: center; /* محاذاة النص إلى الوسط */
  color: #bb86fc; /* لون النص */
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px; /* حجم الخط للشاشات الصغيرة */
  }
}

.question {
  margin-bottom: 20px; /* تباعد أسفل السؤال */
  text-align: center; /* محاذاة النص إلى الوسط */
}

.question h2 {
  font-size: 18px; /* حجم خط السؤال */
  margin-bottom: 10px; /* تباعد أسفل السؤال */
  color: #bb86fc; /* لون النص */
}

.options button {
  display: block; /* عرض الزر ككتلة */
  width: 100%; /* عرض الزر بالكامل */
  padding: 10px; /* تباعد داخلي للزر */
  margin-bottom: 10px; /* تباعد أسفل الزر */
  background-color: #333; /* لون خلفية الزر */
  color: #e0e0e0; /* لون النص */
  border: none; /* إزالة الحدود */
  cursor: pointer; /* تغيير شكل المؤشر عند التمرير */
  border-radius: 4px; /* حواف دائرية للزر */
  transition: background-color 0.3s; /* تأثير الانتقال عند تغيير لون الخلفية */
}

.options button:hover {
  background-color: #444; /* لون الخلفية عند التمرير */
}

.options button.selected {
  border: 2px solid #03dac6; /* إضافة بوردر للإجابة المحددة */
}

.options button.correct {
  background-color: green; /* لون الخلفية للإجابة الصحيحة */
}


.options button.incorrect {
  background-color: red; /* لون الخلفية للإجابة الخاطئة */
}

#next-button {
  display: block; /* عرض الزر دائمًا */
  width: 70%; /* تقليل العرض ليكون أصغر */
  padding: 12px; /* تقليل التباعد الداخلي */
  background-color: #03dac6; /* لون خلفية الزر */
  color: #121212; /* لون النص */
  border: none; /* إزالة الحدود */
  cursor: pointer; /* تغيير شكل المؤشر عند التمرير */
  margin: 15px auto; /* تباعد من الأعلى والأسفل */
  border-radius: 6px; /* حواف دائرية أصغر */
  transition: background-color 0.3s; /* تأثير الانتقال عند تغيير اللون */
  text-align: center; /* محاذاة النص إلى الوسط */
  font-size: 14px; /* حجم النص أصغر */
}

#next-button:disabled {
  background-color: #888; /* لون مختلف عند التعطيل */
  cursor: not-allowed; /* تغيير شكل المؤشر عند التعطيل */
}

#next-button:hover:enabled {
  background-color: #02c7b5; /* لون عند التمرير إذا كان الزر مفعلاً */
}

#previous-button {
  display: block; /* عرض الزر دائمًا */
  width: 70%; /* تقليل العرض ليكون أصغر */
  padding: 12px; /* تقليل التباعد الداخلي */
  background-color: #ff5722; /* لون جديد لزر السؤال السابق */
  color: #ffffff; /* لون النص */
  border: none; /* إزالة الحدود */
  cursor: pointer; /* تغيير شكل المؤشر عند التمرير */
  margin: 15px auto; /* تباعد من الأعلى والأسفل */
  border-radius: 6px; /* حواف دائرية أصغر */
  transition: background-color 0.3s; /* تأثير الانتقال عند تغيير اللون */
  text-align: center; /* محاذاة النص إلى الوسط */
  font-size: 14px; /* حجم النص أصغر */
}

#previous-button:hover {
  background-color: #e64a19; /* لون عند التمرير */
}

#result {
  font-size: 18px; /* حجم خط النتيجة */
  text-align: center; /* محاذاة النص إلى الوسط */
  margin-top: 20px; /* تباعد أعلى النتيجة */
  color: #bb86fc; /* لون النص */
}

#send-button {
  display: block; /* عرض الزر ككتلة */
  width: 50%; /* عرض الزر بالكامل */
  padding: 10px; /* تباعد داخلي للزر */
  background-color: #03dac6; /* لون خلفية الزر */
  color: #121212; /* لون النص */
  border: none; /* إزالة الحدود */
  cursor: pointer; /* تغيير شكل المؤشر عند التمرير */
  margin: 20px auto; /* تباعد أعلى وأسفل الزر */
  border-radius: 4px; /* حواف دائرية للزر */
  transition: background-color 0.3s; /* تأثير الانتقال عند تغيير لون الخلفية */
}

#send-button:hover {
  background-color: #02c7b5; /* لون الخلفية عند التمرير */
}

.test-selection-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.test-selection-container.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 1s ease-out forwards;
}

.test-selection-container.hidden {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.test-item {
  display: block;
  width: 90%; /* تعديل العرض */
  padding: 20px;
  margin: 20px auto; /* تعديل التباعد */
  background-color: #333;
  color: #e0e0e0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.test-item h2 {
  font-size: 24px;
  color: #bb86fc;
  margin-bottom: 10px;
}

.test-item p {
  font-size: 16px;
  margin-bottom: 10px;
}

.test-item p.status-not-done {
  color: red; /* لون النص للحالة لم يتم الامتحان */
}

.test-item p.status-done {
  color: green; /* لون النص للحالة تم الامتحان */
}

.test-item button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #03dac6;
  color: #121212;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.test-item button:hover {
  background-color: #02c7b5;
}

#submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #03dac6;
  color: #121212;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

#submit-button:hover {
  background-color: #02c7b5;
}

.alert {
  background-color: #ffcc00; /* لون الخلفية */
  color: #121212; /* لون النص */
  padding: 10px; /* تباعد داخلي */
  margin-bottom: 20px; /* تباعد أسفل العنصر */
  border-radius: 4px; /* حواف دائرية */
  text-align: center; /* محاذاة النص إلى الوسط */
  font-weight: bold; /* جعل النص عريض */
}

input[type="text"] {
  display: block; /* عرض الحقل ككتلة */
  margin: 20px auto; /* تباعد داخلي للحقل */
  padding: 10px; /* تباعد داخلي للحقل */
  background-color: #333; /* لون خلفية الحقل */
  color: #e0e0e0; /* لون النص */
  border: none; /* إزالة الحدود */
  border-radius: 4px; /* حواف دائرية للحقل */
  text-align: center; /* محاذاة النص إلى الوسط */
}

#logout-button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#logout-button:hover {
  background-color: #cc0000;
}

.back-button {
  padding: 10px;
  background-color: #e0e0e0;
  color: #03dac6;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-to-main-menu-button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #03dac6;
  color: #121212;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#back-to-main-menu-button:hover {
  background-color: #02c7b5;
}

#back-button {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #03dac6;
  color: #121212;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#back-button:hover {
  background-color: #02c7b5;
}

#back-to-selection-button {
  display: block;
  width: 70%;
  padding: 12px;
  background-color: #03a9f4; /* لون خلفية الزر */
  color: #ffffff; /* لون النص */
  border: none;
  cursor: pointer;
  margin: 15px auto;
  border-radius: 6px;
  transition: background-color 0.3s;
  text-align: center;
  font-size: 14px;
}

#back-to-selection-button:hover {
  background-color: #0288d1; /* لون عند التمرير */
}

.music-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #03dac6;
  color: #121212;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.music-toggle:hover {
  background-color: #02c7b5;
}

#info {
  color:#03c1da;
  font-weight: bold;
}